@model Lulus.CustomerApp.Models.Products.ProductCategoryModel

    <style>
        .sort-bar {
            width: 100%;
            padding-left:10%;
            padding-right:10%
        }
        .sort-bar a{
            text-decoration:none;
            color:black;
        }
        .content{
            top: 0;
        }
    </style>
    <table style="width: 100%">
        <tr>
            <td>
                <div class="sort-bar">
                    <h3>Refine By</h3>
                    <br/>
                    <h4>Size</h4>
                    <hr/>
                    <h4>Price</h4>
                    <hr/>
                    <h4>Category</h4>
                    @foreach (var subCate in Model.ListSubCategories)
                    {

                        if (subCate.Checked)
                        {
                            <a asp-action="FullList" asp-controller="Product" asp-route-id="@ViewBag.Key">
                                *@subCate.Name
                            </a>
                        }
                        else
                        {
                            <a asp-action="Index" asp-controller="Product" asp-route-id="@ViewBag.Key" asp-route-key="@subCate.ID">
                                @subCate.Name
                            </a>
                        }
                        <br />
                    }
                </div>
            </td>
            <td>
                <div class="content">
                    <h2>This is list products of @ViewBag.Key</h2>
                    @foreach (var item in Model.ListProducts)
                    {
                        <p>@item.Name</p>
                        <p>@item.Price</p>
                        <hr/>
                    }
                </div>
            </td>
        </tr>
    </table>
    

